<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Vínculo</title>
</head>

<body>

    <h1>Editar Vínculo: </h1>

    <form th:action="@{/vinculo/editar.html(id=${vinculo.id}, idItem=${idItem})}" th:object="${vinculo}" method="POST">
        <table>
            <tr>
                    <td>Etiquetas: </td>
            </tr>
                <tr>               
                    <td>
                        <th:block th:each="etiqueta : ${etiquetas}">
                            <input type="checkbox" name="et" th:value="${etiqueta.id}"/>
                            <label th:text="${etiqueta.titulo}"></label>
                        </th:block>
                    </td>
                </tr>
            <tr>
                <td><input type="submit"/></td>
                <td><input type="reset"/></td>
            </tr>
        </table>
    </form>
    <p><button><a th:href="@{/index.html}">Voltar</a></button></p>
</body>
</html>