<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trabalho 3</title>
</head>
<body>

    <h1>Trabalho 3</h1>
    <ul>
        <li><a th:href="@{/login}">Login do Usuário</a></li>
        <li><a th:href="@{/usuario/cadastro.html}">Cadastro de Usuário</a></li>
        <li><a th:href="@{/usuario/listar.html}">Listar todos os Usuários</a></li>
        <li><a th:href="@{/etiqueta/cadastro.html}">Cadastro de etiqueta</a></li>
        <li><a th:href="@{/etiqueta/listar.html}">Listar todos as etiquetas</a></li>
    </ul>

</body>
</html>