<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de itens</title>
</head>

<body>

    <h1>Itens registrados: </h1>

    <table border="1">
            <tr> 
                <th>Id</th>
                <th>Título</th>
                <th>Etiquetas</th>
                <th>Vínculos</th>
                <th>Anotações</th>
                <th colspan="2">Ações</th>
                <th colspan="2">Vínculo</th>
                <th th:if="${usuario} != null" colspan="2">Anotação</th>
            </tr>
            <tr th:each="item : ${itens}">
                <td th:text="${item.id}">...</td>
                <td th:text="${item.titulo}">...</td>
                <td th:text="${item.item_etiquetas}">...</td>
                <td th:text="${item.item_vinculos}">...</td>
                <td th:text="${item.item_anotacoes}">...</td>
                <td><a th:href="@{/item/editar.html(id=${item.id})}"><button>Editar</button></a></td>
                <td><a th:href="@{/item/excluir.html(id=${item.id})}"><button>Excluir</button></a></td>
                <td><a th:href="@{/vinculo/cadastro.html(id=${item.id})}"><button>Criar</button></a></td>
                <td><a th:href="@{/vinculo/listar.html(id=${item.id})}"><button>Listar</button></a></td>
                <td th:if="${usuario} != null"><a th:href="@{/anotacao/cadastro.html(idItem=${item.id})}"><button>Criar</button></a></td>
                <td th:if="${usuario} != null"><a th:href="@{/anotacao/listar.html(idItem=${item.id})}"><button>Listar</button></a></td>
            </tr>
        </table>
        <p><button><a th:href="@{/index.html}">Voltar</a></button></p>
</body>
</html>