<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Vínculos</title>
</head>

<body>

    <h1>Vínculos registrados: </h1>

    <table border="1">
            <tr> 
                <th>Id</th>
                <th>Id Item Origem</th>
                <th>Id Item Destino</th>
                <th>Anotações</th>
                <th>Etiquetas</th>
                <th colspan="2">Ações</th>
            </tr>
            <tr th:each="vinculo : ${vinculos}">
                <td th:text="${vinculo.id}">...</td>
                <td th:text="${vinculo.idItemOrigem}">...</td>
                <td th:text="${vinculo.idItemDestino}">...</td>
                <td th:text="${vinculo.vinculo_anotacoes}">...</td>
                <td th:text="${vinculo.vinculo_etiquetas}">...</td>
                <td><a th:href="@{/vinculo/editar.html(id=${vinculo.id}, idItem=${idItem})}"><button>Editar</button></a></td>
                <td><a th:href="@{/vinculo/excluir.html(id=${vinculo.id}, idItem=${idItem})}"><button>Excluir</button></a></td>
            </tr>
        </table>
        <p><button><a th:href="@{/item/listar.html}">Voltar</a></button></p>
</body>
</html>