<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
</head>

<body>

    <h1>Usuários registrados: </h1>

    <table border="1">
            <tr> 
                <th>Id</th>
                <th>Nome</th>
                <th>Código de Acesso</th>
                <th>Descrição</th>
                <th>E-mail</th>
                <th colspan="2">Ações</th>
            </tr>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}">...</td>
                <td th:text="${usuario.nome}">...</td>
                <td th:text="${usuario.codAcesso}">...</td>
                <td th:text="${usuario.descricao}">...</td>
                <td th:text="${usuario.email}">...</td>
                <td><a th:href="@{/usuario/editar.html(id=${usuario.id})}"><button>Editar</button></a></td>
                <td><a th:href="@{/usuario/excluir.html(id=${usuario.id})}"><button>Excluir</button></a></td>
            </tr>
        </table>
        <p><button><a th:href="@{/index.html}">Voltar</a></button></p>
</body>
</html>